<home-navbar></home-navbar>
<div class="col-lg-12">
    <div *ngFor="let project of projects | async">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a [routerLink]="['/project', project._id]">Projet #X - {{project.name}}</a>
                </div>
                <div class="panel-body">
                    <span class="col-lg-12">Gains : {{project.gain}} € / mois</span>
                    <span class="col-lg-12">Créé le : {{project.creationDate}}</span>
                </div>
                <div style="border: 2px solid black">
                    <span> {{project.description}}</span>
                </div>
                <button class="btn btn-default" (click)="removeParty(project)">Participer</button>
            </div>
        </div>
    </div>
</div>
