<home-navbar></home-navbar>
<div class="col-xs-12">
    <div *ngFor="let project of projects | async">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Projet #X - {{project.name}}</span>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        <label class="control-label">Gains : </label><span> {{project.gain}} € / mois</span>
                    </div>

                    <div class="col-xs-12">
                        <label class="control-label">Créé le : </label><span> {{project.creationDate}}</span>
                    </div>

                    <div class="col-xs-12">
                        <label class="control-label">Description : </label> <span> {{project.description}}</span>
                    </div>

                    <button class="btn btn-default col-lg-offset-9" [routerLink]="['/myproj', project._id]">Participer</button>
                </div>
            </div>
        </div>
    </div>
</div>
